<h1>Welcome to Data Warehouse <small class="text-muted">developed within SAMS project</small></h1>

<p>
  SAMS is a project funded by the European Union within the H2020-ICT-39-2016-2017 call.
  SAMS enhances international cooperation of ICT (Information and Communication Technologies) and sustainable
  agriculture between EU and developing countries in pursuit of the EU commitment to the UN Sustainable Development
  Goal “End hunger, achieve food security and improved nutrition and promote sustainable agriculture”.
  <br>
  To get more information about the SAMS project please visit:
  <a href="https://sams-project.eu/" target="new">https://sams-project.eu/</a>
</p>

<p>
  This Data Warehouse (DW) is a universal system, which is able to operate with different data inputs and have flexible
  data processing algorithms.
  Data warehouse archictecture is demonstrated below:
</p>
<img class="col-md col-lg-10 col-xl-8" src="assets/DW-concept-new.svg" alt="SAMS DW architecture">

<p>
  DW consists of three modules: Core, WebApi, GUI.
  <br>
  Benefit of the developed DW is that data are processed almost immediately by involving different models for data
  aggregation and reporting. Modular architecture of the solution ensures isolation boundaries both for reliability
  reasons, maintenance and development considerations.
</p>

<footer>
  <div class="col-md-6 offset-md-3">
    <img src="assets/EU-flag.svg" class="eu-flag">
    This project receives funding from the Horizon 2020
    <br/>
    European Union Research and Innovation Framework
    <br/>
    under <strong>Grant Agreement Nr. 780755 - SAMS</strong>
  </div>
</footer>
